.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #142f44;
}

.title {
    position: absolute;
    bottom: 41rem;
    color: #a2bbcf;
    text-shadow: black 2px 2px;
    letter-spacing: 1px;
    font-size: 20px;
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    background-color: #a2bbcf;
    border: 3px solid #205b7a;
    box-shadow: 5px 5px 5px;
}
form input {
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 16px;
    background-color: #205b7a;
    margin: 2px;
    border-radius: 10px;
    color: 	#bdcad4;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: black 1.5px 1.5px;
}
form input[type="button"]:hover {
    background-color: #1d3849;
    border: 1px solid black;
    color: white;
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0px 20px 0 px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 40px;
    padding: 5px 10px;
    background-color: rgb(36, 30, 30);
    box-shadow: #1d3849 1.5px 1.5px;
}
form input.equal {
    width: 125px;

}